MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=alimoment

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

PCNET_ROOT=/data/AliMoment/PC-Net
PCNET_CONFIG_PATH=/data/AliMoment/PC-Net/config/activitynet/main_train_test.json
PCNET_CHECKPOINT_PATH=/data/AliMoment/PC-Net/checkpoints/ActivityNet/8_2025-05-14_14-07-12/model-best.pt
PCNET_FEATURE_PATH=/data/features/sub_activitynet_v1-3.c3d.hdf5
PCNET_DEVICE=cuda:0
PCNET_TOP_K=5
PCNET_VOTE=false
PCNET_SEED=8
