.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
.env
.pytest_cache/
.mypy_cache/
storage/inputs/*
storage/features/*
storage/outputs/*
!storage/inputs/.gitkeep
!storage/features/.gitkeep
!storage/outputs/.gitkeep
